<link rel="stylesheet" href="/view/css/bootstrap.css">

<link rel="stylesheet" href="/view/css/responsive.css">

<link rel="stylesheet" href="/view/css/style.css">
<form class="container">
    <!-- Email input -->
    <div class="form-outline mb-4 mt-5">
      <input type="email" id="form1Example1" class="form-control" />
      <label class="form-label" for="form1Example1">Email address</label>
    </div>
  
    <!-- Password input -->
    <div class="form-outline mb-4 ">
      <input type="password" id="form1Example2" class="form-control" />
      <label class="form-label" for="form1Example2">Password</label>
    </div>
  
    <!-- 2 column grid layout for inline styling -->
    <div class="row mb-4">
      <div class="col d-flex justify-content-center">
        <!-- Checkbox -->
        
    </div>
  
    <!-- Submit button -->
    <a href="/view/layout/massage.html"><button type="submit" class="btn btn-primary btn-block">Sign in</button></a>
  </form>

  <div class="form-outline">
    <textarea class="form-control" id="textAreaExample" rows="4"></textarea>
    <label class="form-label" for="textAreaExample">Message</label>
  </div>